@CHARSET "UTF-8";
body{background-color: #cccccc;}        
.tab-nav-wrapper-clz{width: 100%;height: 350px;margin-top: 0px;margin-left: 0px;}
.tab-nav-wrapper-clz ul{display:flex; flex-flow: row; width: 100%;height: 20px;list-style: none;background-color: black;margin-bottom: 0px;margin: 0px;padding: 0px;}
.tab-nav-wrapper-clz div{width: 500px;height: 330px;background-color: white;}
.tabsSeleted{flex:1;height: 20px;background-color: white;display: inline-block;text-align: center;}
.tabsUnSeleted a{width:100%; height: 20px;color: rgb(187, 70, 70);}
.tabsUnSeleted{flex:1; height: 20px;background-color: black;display: inline-block;text-align: center;}
.tabsUnSeleted a{width:100%; height: 20px;color: rgb(187, 70, 70);;}