@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-02-29 14:34:36
 * @version $Id$
 */

body {
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
    font-family: 'Source Sans Pro', serif;
    line-height: 1.8;
    font-size: 14px;
    color: #565656;
}

img {
    max-width: 100%;
    height: auto;
}


/*------------------------------------------------------------------
[Commons]
*/

.divider {
    margin: 0;
}

.divider-gross {
    border-top-width: 2px;
}


/*------------------------------------------------------------------
[Typography]
*/

a {
    color: #cf9c63;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
    color: #b6834a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', serif;
    margin: 0 0 25px;
    line-height: 1.4;
    font-weight: 400;
    color: #111;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    margin-bottom: 25px;
}


/*
[Navbar]
*/

.navbar-custom {
    background: #111;
    border: 0;
    padding: 0;
    margin: 0;
    -webkit-transition: padding 0.25s, background 0.25s;
    -moz-transition: padding 0.25s, background 0.25s;
    -ms-transition: padding 0.25s, background 0.25s;
    -o-transition: padding 0.25s, background 0.25s;
    transition: padding 0.25s, background 0.25s;
}

.navbar-custom .navbar-brand {
    display: table-cell;
    vertical-align: middle;
    float: none;
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 400;
    font-size: 23px;
    color: #111;
}

.navbar-custom,
.navbar-custom a {
    font-size: 15px;
    color: #8c8c8c;
}

.navbar-custom .nav > li > a:focus {
    background: none;
    color: #8c8c8c;
}

.navbar-custom .nav > li.active > a {
    color: #fff;
}

.navbar-custom .nav .open > a,
.navbar-custom .nav .open > a:focus,
.navbar-custom .nav .open > a:hover {
    background: none;
    color: #fff;
}

.navbar-custom .nav > li > a:hover,
.navbar-custom .nav > li.open > a:hover {
    background: none;
    color: #cf9c63;
}

.navbar-custom .nav li a > .fa,
.navbar-custom .nav li a > .icon {
    margin-right: 6px;
    font-size: 13px;
}

.navbar-custom .navbar-nav > li > .dropdown-menu {
    margin-top: 0px;
}

.navbar-custom .dropdown-menu .dropdown-menu {
    top: 0;
    left: 100%;
    right: auto;
    margin-top: -5px;
    margin-left: 2px;
}

.leftauto {
    right: 0 !important;
    left: auto !important;
}

.navbar-custom .dropdown-menu.left-side {
    margin-right: 2px;
    right: 100%;
    left: auto;
}

.navbar-custom .dropdown-menu {
    background: #262626;
    border: 0;
    border-radius: 0;
    padding: 5px 0;
    min-width: 180px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-custom .dropdown-menu li {
    padding: 0 15px;
}

.navbar-custom .dropdown-menu > li > a {
    border-bottom: 1px solid #2b2b2b;
    padding: 10px 5px;
    font-size: 14px;
    color: #A0A0A0;
}

.navbar-custom .nav .open > a,
.navbar-custom .nav .open > a:hover,
.navbar-custom .nav .open > a:focus {
    border-color: #2b2b2b;
}

.navbar-custom .dropdown-menu > li:last-child > a {
    border-bottom: 0;
}

.navbar-custom .dropdown-menu > li > a:focus,
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu .open > a,
.navbar-custom .dropdown-menu .open > a:hover {
    background: none;
    color: #fff;
}

.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    float: right;
    padding: 9px 10px;
    padding: 0;
    margin: 26px 15px 0 0;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

@media (min-width: 992px) {
    .navbar-transparent {
        background: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-transparent a,
    .navbar-transparent .nav > li > a:focus {
        color: #fff;
    }
    .navbar-custom .navbar-brand {
        padding-left: 0;
    }
    .navbar-custom .navbar-nav > li > a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .navbar-custom .dropdown-menu {
        position: absolute;
        display: block;
        visibility: hidden;
        opacity: 0;
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        transform: translateY(50px);
        -webkit-transition: opacity 0.4s ease 0s, -webkit-transform 0.4s ease 0s, visibility 0.4s linear 0s;
        -moz-transition: opacity 0.4s ease 0s, -moz-transform 0.4s ease 0s, visibility 0.4s linear 0s;
        -ms-transition: opacity 0.4s ease 0s, -ms-transform 0.4s ease 0s, visibility 0.4s linear 0s;
        -o-transition: opacity 0.4s ease 0s, -o-transform 0.4s ease 0s, visibility 0.4s linear 0s;
        transition: opacity 0.4s ease 0s, transform 0.4s ease 0s, visibility 0.4s linear 0s;
    }
    .navbar-custom .open > .dropdown-menu {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    .navbar-right .dropdown-menu {
        right: auto;
        left: 0;
    }
}

@media (max-width: 991px) {
    .navbar-custom .navbar-nav {
        margin-top: 1px;
        margin-bottom: 0;
    }
    .navbar-custom .dropdown-menu,
    .navbar-custom .dropdown-menu .dropdown-menu {
        padding-top: 0;
        margin-top: 0;
    }
    .navbar-custom .dropdown-menu li {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-custom li a,
    .navbar-custom .dropdown-menu > li:last-child > a {
        border-bottom: 1px solid #2b2b2b;
    }
    .navbar-custom .navbar-nav > li:last-child > a {
        border-bottom: 0;
    }
    .navbar-custom .navbar-nav > li > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a,
    .navbar-custom .navbar-nav .open .dropdown-menu .dropdown-header {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu .dropdown-menu > li > a {
        padding-left: 30px;
    }
}


/* [vertical] */

.m-t-70 {
    margin-top: 70px!important;
}

.m-t-40 {
    margin-top: 40px!important;
}

.m-b-60 {
    margin-bottom: 60px!important;
}

.m-t-90 {
    margin-top: 90px!important;
}

.m-b-30 {
    margin-bottom: 30px!important;
}


/*
	[Hero]
*/

.module-hero {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-caption {
    position: relative;
    display: table;
    height: 100%;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
}


/*.hero-caption:before{
	content: " ";
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}*/

.hero-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #fff;
}

.hero-title {
    line-height: 1.4;
    font-size: 60px;
    margin: 0 0 20px;
    color: #fff;
}

@media (max-width: 992px) {
    .hero-title {
        font-size: 52px;
    }
}

@media (max-width: 767px) {
    .hero-title {
        font-size: 42px;
    }
}

@media (max-width: 627px) {
    .hero-title {
        font-size: 36px;
    }
}


/*
	end [Hero]
*/


/*------------------------------------------------------------------
[Modules]
*/

.wrapper {
    background: #fff;
    position: relative;
    width: 100%;
    z-index: 3;
    margin: 0 0 70px;
}

.module-title,
.module-subtitle {
    margin: 0 0 70px;
    text-align: center;
    line-height: 1.8;
    font-size: 30px;
}

.module-subtitle {
    font-size: 18px;
    color: #999;
}

.module-title + .module-subtitle {
    /*.module-title 之后的 .module-subtitle*/
    margin-top: -35px;
}

.module.module-g,
.module-sm.module-g {
    background-color: #f7f7f7;
}

.module,
.module-sm,
.footer {
    padding: 140px 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*------------------------------------------------------------------
	[Profile]
*/

.profile-icon {
    font-size: 36px;
    color: #cf9c63;
}

.profile-title {
    font-size: 20px;
    margin: 10px 0;
}

.profile-content {
    margin: 0 0 40px;
}

.profile-content h6 {
    margin-bottom: 10px;
    font-size: 16px;
}

.profile-content p {
    color: #aaa;
}


/*------------------------------------------------------------------
[Progress bars]
*/

.progress {
    overflow: visible;
    height: 2px;
    margin-bottom: 30px;
}

.progress-title {
    display: block;
    margin: 0 0 15px;
    font-size: 14px;
}

.progress-bar {
    position: relative;
}

.progress-bar.progress-bar-def {
    background: #cf9c63;
}

.progress-bar > span {
    position: absolute;
    display: block;
    top: -35px;
    right: 0;
    font-size: 13px;
    color: #565656;
}


/*------------------------------------------------------------------
[Portfolio]
*/

.filters {
    text-align: center;
    list-style: none;
    margin: 0 0 70px;
    padding: 0;
}

.filters li {
    display: inline-block;
}

.filters li:first-child a {
    margin-left: 0;
}

.filters li a {
    font-size: 18px;
    color: #8c8c8c;
    margin: 0 20px;
}

.filters li a.current {
    color: #cf9c63;
}

.filters li span {
    color: #ccc;
}

.works-grid-wrapper {
    margin-left: -5px;
    margin-right: -5px;
}

.works-grid-gutter .work-item {
    padding: 0 5px 10px;
}

.work-item {
    position: relative;
    overflow: hidden;
    width: 25%;
}

.works-grid-3 .work-item {
    width: 33.3333%;
}

.work-wrapper {
    position: relative;
    overflow: hidden;
}

.work-item img {
    height: auto;
    width: 100%;
}

.work-thumbnail {
    position: relative;
}

.work-thumbnail:after {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.work-thumbnail-after {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.work-thumbnail-after {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.work-item:hover .work-thumbnail-after {
    background: rgba(255, 255, 255, 0.8);
}

.work-item:hover .work-thumbnail:after {
    background: rgba(255, 255, 255, 0.8);
}

.work-caption {
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 2;
    opacity: 0;
    padding: 30px;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.work-item:hover .work-caption {
    opacity: 1;
}

.work-popup {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 10px;
    top: 10px;
    z-index: 5;
    opacity: 0;
    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.work-item:hover .work-popup {
    opacity: 1;
    -webkit-transform: translate(-10px, 10px);
    -moz-transform: translate(-10px, 10px);
    -ms-transform: translate(-10px, 10px);
    transform: translate(-10px, 10px);
}

.work-title {
    font-size: 16px;
    margin: 0 0 5px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

.work-category {
    font-size: 14px;
    margin: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.work-title,
.work-category {
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -ms-transition: -ms-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: transform 0.3s ease;
}

.work-item:hover .work-title,
.work-item:hover .work-category {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.work-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

/*.works-grid-dark .work-item:hover .work-thumbnail-after {
    background: rgba(4, 4, 4, .8);
}*/

.works-grid-dark .work-item:hover .work-thumbnail:after {
    background: rgba(4, 4, 4, .8);
}

.works-grid-dark .work-title {
    color: #fff;
}

@media (max-width: 992px) {
    .work-item {
        width: 33.3333%;
    }
}

@media (max-width: 767px) {
    .filters li span {
        display: none;
    }
    .work-item,
    .works-grid-3 .work-item {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .work-item,
    .works-grid-3 .work-item {
        width: 100%;
    }
}
